body{
    background:rgb(79, 79, 79);
}

.jumbotron,footer {
    background: rgb(128, 128, 128);
}
.jumbotron {
    background-image: url("../img/banner.jpg");
    background-size:contain;
    margin-top:2rem;
}

#link {
    color: black;
    text-decoration: none;
}

.cards-hotel {
    flex: 1 150px;
    padding: 2px 2px 10px 2px;
    background: rgb(128, 128, 128);
}

.cards-hotel p {
    height: 117px;
}

.footer-address-icons{
    padding-right:10px;
}
